* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(199, 116, 116);
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    position: relative;
}

.logo {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.menu a:hover {
    color: #000;
    text-decoration: underline;
}
.cart-btn a {
    background: #000;
    color: #ad1010;
    padding: 8px 15px;
    border-radius: 20px;
}
.hamburger, #menu-toggle {
    display: none;
}
@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: #333;
    }
    .menu {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(85, 245, 10);
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
    }

    .menu li {
        margin: 15px 0;
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }
}






